.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 72px 52px;
	gap: 350px;
}
.navsocials {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.nav {
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex: 1;
}

.link {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: gray;
	transition: color 0.2s ease;
	border-bottom: 1px solid transparent;
}

.link:hover {
	color: whitesmoke;
}

.link.active {
	color: white;
	border-bottom: 1px solid whitesmoke;
}

.socials {
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-bottom: 28px;
}

.socialLink {
	color: dimgray;
	transition: color 0.2s ease;

	display: flex;
	align-items: center;
}

.socialLink:hover {
	color: whitesmoke;
}

.copyright {
	font-size: 13px;
	font-weight: 300;
	color: dimgray;
}
